apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ ocp_workload_cluster_security_policy_application_name }}"
  namespace: {{ ocp_workload_cluster_security_policy_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: "{{ ocp_workload_cluster_security_policy_project }}"
  source:
    repoURL: {{ ocp_workload_cluster_security_policy_repo_url }}
    targetRevision: {{ ocp_workload_cluster_security_policy_repo_revision }}
    path: {{ ocp_workload_cluster_security_policy_repo_path }}
{% if ocp_workload_cluster_security_policy_helm_values | default({}) | length > 0 %}
    helm:
      values: |
{{ ocp_workload_cluster_security_policy_helm_values | to_nice_yaml | indent(8, true) }}
{% endif %}
  ignoreDifferences:
    - group: config.openshift.io
      kind: Image
      jsonPointers:
        - /status
        - /metadata/annotations
  destination:
    namespace: {{ ocp_workload_cluster_security_policy_namespace }}
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - RespectIgnoreDifferences=true
